<% include ../header %>

<a href="movies/create" class="btn btn-primary">Add Movies</a>

<% for(let data of ListMovies){ %>

<div class="card">
    <div class="card-header">
      <%= data.name %>
    </div>
    <div class="card-body">
      <h5 class="card-title">Tanggal Tayang : <%= data.released_on %></h5>

      <a href="movies/update/<%= data.id %>" class="btn btn-primary">Edit</a>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#data<%= data.id %>"" role="button" aria-expanded="false" aria-controls="collapseExample">
        Delete Data
      </a>
    </div>
    <div class="collapse" id="data<%= data.id %>">
        <div class="card card-body">
         Apakah anda yakin untuk menghapus Film <%= data.name %> ?
         <a href="movies/delete/<%= data.id %>" class="btn btn-primary">Delete</a>
        </div>
      </div>
  </div>

  <% } %>